<%= form_for order, url: potepan_update_cart_path, html: {id: 'update-cart'} do |order_form| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>価格</th>
          <th>数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "line_item", collection: order.line_items, locals: { order_form: order_form } %>
      </tbody>
    </table>
  </div>
  <div class="updateArea">
   <!--  <div class="input-group">
      <input type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2">
      <a href="#" class="btn input-group-addon" id="basic-addon2">apply coupon</a>
    </div> -->
    <%= order_form.submit "アップデート", class: "btn" %>
  </div>
  <div class="totalAmountArea">
    <div class="col-sm-4 col-sm-offset-8 col-xs-12">
      <ul class="list-unstyled">
        <li>小計 <span><%= order.display_item_total.to_html %></span></li>
        <li>消費税 <span><%= order.display_tax_total.to_html %></span></li>
        <li>総計 <span class="grandTotal"><%= order.display_total.to_html %></span></li>
      </ul>
    </div>
  </div>
  <div class="checkBtnArea">
    <a href="checkout_step_1.html" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
  </div>
<% end %>
