<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr>
    <td class="col-xs-2">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true", class="delete">&times;</span></button>
      <span class="cartImage">
        <%= link_to potepan_product_path(line_item.variant_id) do %>
          <%= image_tag(line_item.variant.images.first.attachment.url(:small), :alt => "image") %>
        <% end %>
      </span>
    </td>
    <td class="col-xs-4"><%= link_to line_item.name, potepan_product_path(line_item.variant_id), class: "line-item-name" %></td>
    <td class="col-xs-2"><%= line_item.single_money.to_html %></td>
    <td class="col-xs-2"><%= item_form.number_field :quantity, min: 0, class:"line_item_quantity" %></td>
    <td class="col-xs-2"><%= line_item.display_amount.to_html %></td>
  </tr>
<% end %>
