<% if params[:q] %>
  <%= link_to search_potepan_products_path(display_type: "grid", sort: params[:sort], q: { name_or_description_cont: params[:q][:name_or_description_cont]} ), class: grid_button_class do %>
    <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
  <% end %>
  <%= link_to search_potepan_products_path(display_type: "list", sort: params[:sort], q: { name_or_description_cont: params[:q][:name_or_description_cont]}), class: list_button_class do %>
    <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
  <% end %>
<% else %>
  <%= link_to potepan_products_url(display_type: "grid", option_name: params[:option_name], sort: params[:sort]), class: grid_button_class do %>
    <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
  <% end %>
  <%= link_to potepan_products_url(display_type: "list", option_name: params[:option_name], sort: params[:sort]), class: list_button_class do %>
    <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
  <% end %>
<% end %>
