<%= link_to potepan_category_url(id: @category.id, display_type: "grid", option_name: params[:option_name], sort: params[:sort]), class: grid_button_class do %>
  <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
<% end %>
<%= link_to potepan_category_url(id: @category.id, display_type: "list", option_name: params[:option_name], sort: params[:sort]), class: list_button_class do %>
  <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
<% end %>
