<div class="col-xs-6">
  <div class="btn-group pull-right" role="group">
    <% @grid_button_class = @display_type == "grid" ? "btn btn-default active" : "btn btn-default" %>
    <% @list_button_class = @display_type == "list" ? "btn btn-default active" : "btn btn-default" %>
    <% if @category %>
      <%= render 'potepan/shared/display_button_categories', grid_button_class: @grid_button_class, list_button_class: @list_button_class %>
    <% else %>
      <%= render 'potepan/shared/display_button_products', grid_button_class: @grid_button_class, list_button_class: @list_button_class %>
    <% end %>
  </div>
</div>
