<div class="row filterArea">
  <div class="col-xs-6">
    <%= form_tag(request.url, method: :get) do %>
      <%= hidden_field_tag :display_type, display_type %>
      <%= hidden_field_tag :option_name, params[:option_name] %>
      <% if params[:q].present? %>
        <%= hidden_field_tag 'q[name_or_description_cont]', params[:q][:name_or_description_cont] %>
      <% end %>
      <%= select_tag :sort, options_for_select(sort_option, selected: params[:sort]), id: "guiest_id1", class: "select-drop", onchange: "this.form.submit();" %>
    <% end %>
  </div>
  <%= render 'potepan/shared/display_button' %>
</div>
