<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% color_list.each do |color| %>
        <li>
          <%= link_to potepan_products_url(option_name: "#{color.name}") do %>
          <%= color.name %><span><%= "(#{color.variants.count})" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
