<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% root_categories.each do |category| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#<%= category.name %>"><%= category.name %><i class="fa fa-plus"></i></a>
            <ul id="<%= category.name %>" class="collapse collapseItem">
              <% category.leaves.each do |leaf| %>
                <li>
                  <%= link_to potepan_category_path(leaf.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i><%= leaf.name %>
                    <span>(<%= leaf.products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
