<% if params[:option_name].present? %>
  <% object = @option_value %>
<% elsif params.dig(:q, :name_or_description_cont) %>
  <% search_result = "「#{params[:q][:name_or_description_cont]}」の検索結果 #{@products.count}件" %>
<% end %>
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= object&.name || search_result || "All products" %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <% unless object == @product %>
            <li>
              <a href="#">shop</a>
            </li>
          <% end %>
          <li class="active"><%= object&.name || search_result || "All Products" %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
