<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section_top', object: @category %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'potepan/shared/sidebar.html.erb', root_categories: @root_categories %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/filter_area', display_type: @display_type, sort_option: @sort_option, category: @category %>
        <% if @display_type == 'grid' %>
          <%= render 'potepan/shared/product_grid', products: @products %>
        <% else %>
          <%= render 'potepan/shared/product_list', products: @products %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section_bottom' %>
