<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'potepan/shared/filter_by_category', root_categories: root_categories %>
  <%= render 'potepan/shared/filter_by_price' %>
  <%= render 'potepan/shared/filter_by_color', color_list: @color_list, category: @category %>
  <%= render 'potepan/shared/filter_by_size', size_list: @size_list, category: @category %>
</div>
