<% if product.product.variants_and_option_values_for.any? %>
  <span class="quick-drop">
    <%= select_tag :variant_id, options_from_collection_for_select(product.product.variants_and_option_values_for, :id, :options_text), class: "select-drop" %>
  </span>
<% else %>
  <%= f.hidden_field :variant_id, value: product.id %>
<% end %>
  <span class="quick-drop resizeWidth">
    <%= select_tag :quantity, options_for_select([*1..5]), class: "select-drop" %>
  </span>
