<% provide(:title, @product.name) %>

<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section_top', object: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "image", product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <% if request.referrer.blank? || request.referrer&.match(/.*products\/\d/) %>
                  <%= link_to potepan_products_path do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                <% else %>
                  <%= link_to :back do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= form_for @order, url: potepan_orders_populate_path, method: :post do |f| %>
              <%= render "option_and_quantity_select_tag", product: @product, f: f %>
              <div class="btn-area">
                <%= button_tag type: "submit", class: "btn btn-primary btn-block" do %>
                  カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
            <%= render "detail", product_properties: @product_properties %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>
