<% if new_arrival_products.present? %>
<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% new_arrival_products.each do |product| %>
        <div class="slide">
          <div class="productImage clearfix">
            <%= image_tag(product.images.first.attachment.url, :alt => "featured-product-img") %>
            <div class="productMasking">
              <ul class="list-inline btn-group" role="group">
                <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="productCaption clearfix">
            <a href="single_product.html">
              <h5><%= link_to product.name, potepan_product_path(product.id) %></h5>
            </a>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
