<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <% @popular_categories.each do |category| %>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='<%= potepan_category_path(category.id) %>';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-#{category.name}.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><%= link_to "View #{category.name}", potepan_category_path(category.id), class: "btn viewBtn" %></div>
      </div>
      <div class="caption">
        <h4><%= category.name %></h4>
      </div>
    </div>
  </div>
  <% end %>
</div>
