<%= render 'potepan/shared/banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_category' %>
    <%= render 'new_arrival_products', new_arrival_products: @new_arrival_products %>
    <%= render 'blog' %>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section_bottom' %>
