<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li><span><a data-toggle="modal" href='#login'>Log in</a><small>or</small><a data-toggle="modal" href='#signup'>Create an account</a></span></li>
          <li class="dropdown searchBox">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <span class="input-group">
                  <%= search_form_for(@q, url: search_potepan_products_path, html: { method: :get }) do |f| %>
                    <%= f.search_field :name_or_description_cont, class: "form-control", placeholder: "Search…", "aria-describedby": "basic-addon2"  %>
                    <%= f.submit "Search", class: "input-group-addon", id: "basic-addon2" %>
                  <% end %>
                </span>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><%= @order.display_total.to_html %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= @order.line_items.size %> Item(s) in your cart</li>
                <% @order.line_items.each do |line_item| %>
                  <li>
                    <%= link_to potepan_product_path(line_item.variant_id) do %>
                      <div class="media">
                        <%= image_tag(line_item.variant.images.first.attachment.url(:mini), class: "media-left media-object", alt: "cart-Image") %>
                        <div class="media-body">
                          <h5 class="media-heading"><%= truncate(line_item.name, length: 20) %> <br><span><%= "#{line_item.quantity} X #{line_item.display_amount.to_html}" %></span></h5>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <li>
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default"><%= link_to "Shopping Cart", potepan_cart_path, id: "shopping-cart-button" %></button>
                  <button type="button" class="btn btn-default">Checkout</button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
