<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/meta_tag' %>
    <%= render 'layouts/stylesheet' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/modal' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
